h1{
    color:white;
    text-align:center;
    background-color:darkseagreen; 
}

body{
    background-image: url("../images/haikei.png");
}

img src = "images/sutaba.png"alt="スターバックス"{
    background-position: center;
}

h2{
    color:white;
    text-align: center;
    background-color:darkgreen;
}

tr{
    background-color: antiquewhite;
}

ol{
    background-image:url("../images/siro.jfif");
}

